body {
  max-width: 600px;
  margin: auto;
  padding: 1em;
  line-height: 20px ;
}

caption {
    font-style: italic;
}

.caption {
    font-size: 0.75em;
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

table {
    font-size: 0.75em;
}

p {
  text-align: justify;
}

img {
  max-width:90%;
  margin: auto;
}
